{% extends "base.html" %}
{% load static %}

{% block titulo %}
    Fala Dev!!! - Minhas Perguntas
{% endblock titulo %}

{% block conteudo %}
<h1 class="text-center">Minhas Perguntas</h1>
<div class="questions-section">
    {% if not request.user.is_authenticated %}
        <p class="text-center">Você precisa estar logado para ver as suas perguntas.</p>
        <a href="{% url 'login' %}" class="answer-link ">
            <i class="fa-regular fa-comment"></i>
            Entrar
        </a>
    {% else %}
        <div class="questions-grid">
            {% for pergunta in perguntas %}
                <div class="question-card mb-2">
                    <h2 class="mb-1">{{ pergunta.titulo }}</h2>
                    <span>
                        Enviada por: {{ pergunta.usuario.first_name }} {{ pergunta.usuario.last_name }}
                    </span>
                    <span class="mb-3">Data: {{ pergunta.criado_em }}</span>
                    <div class="single-answer">
                        <p>{{ pergunta.descricao }}</p>
                        <div class="fotos-container">
                            {% for foto in pergunta.fotos.all %}
                                <div class="single-foto">
                                    <a href="{{ foto.foto.url }}" target="_blank">
                                        <img src="{{ foto.foto.url }}" alt="Foto de {{ pergunta.titulo }}">
                                    </a>
                                </div>
                            {% empty %}
                                <p>Nenhuma foto enviada.</p>
                            {% endfor %}
                        </div>
                        {% if request.user == pergunta.usuario %}
                            <div class="buttons-container">
                                <a href="{% url 'perfil:minhasRespostas' pergunta.id %}" class="answer-link ver">
                                    <i class="fa-solid fa-forward"></i>
                                    Ver respostas
                                </a>
                                <a href="{% url 'perfil:editar' pergunta.id %}" class="answer-link editar">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                    Editar
                                </a>
                                <a href="{% url 'perfil:removerPergunta' pergunta.id %}" class="answer-link  remover" onclick="return confirm('Tem certeza que deseja deletar esta pergunta? Esta ação não pode ser desfeita.')">
                                    <i class="fa-solid fa-trash"></i>
                                    Remover
                                </a>
                            </div>
                        {% endif %}     
                    </div>
                </div>
            {% empty %}
                <p class="text-center">Nenhuma pergunta ainda.</p>
            {% endfor %} 
    </div>
    {% endif %}    
</div>



{% endblock conteudo %}