{% extends "base.html" %}
{% load static %}

{% block titulo %}
    Fala Dev!!! - Perguntas
{% endblock titulo %}

{% block conteudo %}
    <div class="questions-section">
        <div class="questions-grid">
            <div class="question-card mb-2">
                <h2 class="mb-1">{{ pergunta.titulo }}</h2>
                <span>
                    Enviada por: {{ pergunta.usuario.first_name }} {{ pergunta.usuario.last_name }}
                </span>
                <span class="mb-3">Data: {{ pergunta.criado_em }}</span>
                <div class="single-answer">
                    <p>{{ pergunta.descricao }}</p>
                    <div class="fotos-container">
                        {% for foto in pergunta.fotos.all %}
                            <div class="single-foto">
                                <a href="{{ foto.foto.url }}" target="_blank">
                                    <img src="{{ foto.foto.url }}" alt="Foto de {{ pergunta.titulo }}">
                                </a>
                            </div>
                        {% empty %}
                            <p>Nenhuma foto enviada.</p>
                        {% endfor %}
                    </div>
                     <a href="{% url 'lista:resposta' pergunta.id %}" class="answer-link ">
                        <i class="fa-regular fa-comment mt-3"></i>
                        Responder
                    </a>
                </div>
            </div>
        </div>
    </div>
    <h2 class="text-center">Respostas</h2>
    {% for resposta in pergunta.votos.all %}
        <div class="questions-section">
            <div class="questions-grid">
                <div class="question-card mb-2">
                    <h3 class="mb-1">Resposta de {{ resposta.usuario.first_name }} {{ resposta.usuario.last_name }} <i class="fa-solid fa-reply"></i></h3>
                    <span class="mb-3">Data: {{ resposta.post.criado_em }}</span>
                    <div class="single-answer">
                        <p>{{ resposta.resposta }}</p>
                        {% if resposta.imagem %}
                            <div class="fotos-container">
                                <div class="single-foto">
                                    <a href="{{ resposta.imagem.url }}" target="_blank">
                                        <img src="{{ resposta.imagem.url }}" alt="Imagem da resposta">
                                    </a>
                                </div>
                            </div>
                            {% if request.user == resposta.usuario %}
                                <div class="buttons-container">
                                    <a href="{% url 'lista:editar' resposta.id %}">
                                    <button class="btn btn-primary">Editar<i class="fa-solid fa-pencil"></i></button>
                                    </a>
                                    <a href="{% url 'lista:deletar' resposta.pk %}"onclick="return confirm('Tem certeza que deseja deletar a resposta? Esta ação não pode ser desfeita.')">
                                        <button class="btn btn-danger">Remover <i class="fa-solid fa-trash"></i></button>
                                    </a>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="questions-section">
            <div class="questions-grid">
                <div class="question-card mb-2">
                    <p class="text-center">Nenhuma resposta ainda. Seja o primeiro a responder!</p>
                    <a href="{% url 'lista:resposta' pergunta.id %}" class="answer-link ">
                        <i class="fa-regular fa-comment"></i>
                        Responder
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock conteudo %}