<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm rounded py-3 px-4 ">
    <a class="navbar-brand font-weight-bold d-flex align-items-center" href="{% url 'lista:index' %}">
        <i class="ph ph-code"></i> Fala Dev!!! <i class="ph ph-code"></i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto align-items-lg-center">
            <li class="nav-item">
                <a class="nav-link d-flex align-items-center" href="{% url 'lista:index' %}">
                    <i class="ph ph-house"></i>
                    Home
                </a>
            </li>
            {% if not user.is_authenticated %}
                <li class="nav-item">
                <a class="nav-link" href="{% url 'perfil:login' %}">Entrar</a>
            </li>
            {% endif %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Gerenciar Perfil
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'perfil:minhasPerguntas' %}">Minhas perguntas</a>
                    <a class="dropdown-item" href="#">Perfil</a>
                    {% if user.is_authenticated %}
                        <a class="dropdown-item" href="{% url 'perfil:logout' %}">Sair</a>
                    {% endif %}
                    
                </div>
            </li>
            
            <li class="nav-item ml-lg-3">
                <a class="nav-link nav-cart-link d-flex align-items-center position-relative" href="#}">
                    <i class="fa-solid fa-earth-americas"></i>
                    <span class="nav-cart-text">Notificações</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
